#include "resource.h"

IDI_ICON ICON "../icon.ico"

// embed manifest
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "../res/app.manifest"

// version info
VS_VERSION_INFO VERSIONINFO
FILEVERSION 2,0,5,0
PRODUCTVERSION 2,0,5,0
FILEFLAGSMASK 0x3FL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004
FILETYPE 0x1
FILESUBTYPE 0x0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "920250443"
            VALUE "FileDescription", "battery_overlay显示笔记本电量百分比和充电状态"
            VALUE "FileVersion", "2.0.5.0"
            VALUE "InternalName", "battery_overlay"
            VALUE "OriginalFilename", "battery_overlay.exe"
            VALUE "ProductName", "Battery Overlay"
            VALUE "ProductVersion", "2.0.5.0"
            VALUE "LegalCopyright", "Copyright (C) 2026 xjqm-tao"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
